h1 {
	text-align: center;
}

h5 {
	color: red;
	text-align: center;
}

.form {
    background-color: #cccccc;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px 5px 10px 30px;
    max-width: 800px;
    margin: auto;
    margin-top: auto;
    font-family: "Fira Code";

}

input[type=text], input[type=password], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    text-align: center;
}

.div {
    background-color: #cccccc;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px 5px 10px 30px;
    max-width: 700px;
    margin: auto;
    margin-top: auto;
    font-family: "Fira Code";
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}