h1 {
    text-align: center;
}

h5 {
    color: red;
    text-align: center;
}
.form {
    background-color: #cccccc;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    max-width: 800px;
    margin: auto;
    font-size: medium;

}


input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

a.facebook {
    border-radius: 10px;
    position: fixed;
    left: 0;
    top: 310px;
    width: 84px;
    height: 135px;
    display: block;
    z-index: 999;
    background-image: url("../images/facebook.jpg");
    background-repeat: no-repeat;
}
input[type=password], input[type=submit], input[type=button] {
    color: black;
    background-color: #ffd000;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: block;
}

.div {
    background-color: #cccccc;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    max-width: 700px;
    margin: auto;
    font-size: medium;
    display: inline-block;
    position: absolute;
    float: left;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
