<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Solarium Żar Tropików</title>

    <link rel="stylesheet" type="text/css" href="css/page_style.css"/>

</head>
<body style="background-color: black">
<h1><img th:src="@{../images/logo.jpg}"/></h1>
<div class="div">
    <h1>Super!</h1>
    <br>
    <span th:text="${reservation.getName()}"></span>, rezerwacja przebiegła pomyślnie.
    Zarezerwowałeś łóżko: <span th:text="${reservation.getBed()}">,</span>
    na godzinę <span th:text="${reservation.getTime()}"></span>. <br/>
    Potwierdzenie zostało wysłane na adres: <span th:text="${reservation.getEmail()}"></span>.<br/>
    Do zobaczenia!
    </br>
    <button type="button" class="button" onclick="window.location.href='/'"><b>Wróć</b></button>
</div>

</body>
</html>