<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Solarium Żar Tropików</title>

    <link rel="stylesheet" type="text/css" href="css/page_style.css"/>

</head>
<body>
<h1>Solarium Żar Tropików</h1>
<!--<img src="../images/logo.jpg">-->
<form action="/confirmation.html" th:action="@{/confirmation}" th:object="${reservation}" method="post">
    <label>Podaj swoje imię: </label>
    <input type="text" th:field="*{name}" placeholder="Imię" name="name"/><br/>
    <label>Podaj swój adres e-mail: </label><br/>
    <input type="text" th:field="*{email}" placeholder="E-mail" name="email"/><br/>
    <label>Wybierz łóżko: </label><br/>
    <select th:each="bed: *{listOfBeds}">
        <option th:value="${bed}" th:text="${bed}"></option>
    </select>
    <input type="submit" value="Rezerwuj"/>
</form>

</body>
</html>