<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Solarium Żar Tropików</title>

    <link rel="stylesheet" type="text/css" href="css/page_style.css"/>

</head>
<body>
<h1>Solarium Żar Tropików</h1>
<!--<img src="../images/logo.jpg">-->
<form action="/index.html" th:action="@{/index}" th:object="${reservation}" method="post">
    <label>Imię: </label>
    <input type="text" th:field="*{name}" placeholder="Podaj swoje imię" name="name"/><br/>
    <label>E-mail: </label><br/>
    <input type="text" th:field="*{email}" placeholder="Podaj adres e-mail" name="email"/><br/>
    <input type="submit" value="Rezerwuj"/>
</form>

<!--        <span th:text="${reservation.getName()}"></span>-->
<!--        <span th:text="${reservation.getEmail()}"></span>-->

</body>
</html>