<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Solarium Żar Tropików</title>

    <link rel="stylesheet" type="text/css" href="css/page_style.css"/>

</head>
<body class="body" style="background-color: black">

<center><img th:src="@{../images/logo.jpg}"/></center>
<div class="div">
    <form action="/confirmation.html" th:action="@{/confirmation}" th:object="${reservation}" method="post">
        <label>Podaj swoje imię: </label>
        <input type="text" th:field="*{name}" placeholder="Imię" name="name"/><br/>
        <label>Podaj swój adres e-mail: </label><br/>
        <input type="text" th:field="*{email}" placeholder="E-mail" name="email"/><br/>
        <label>Wybierz łóżko: </label><br/>
        <select th:field="*{bed}">
            <option value=""> --</option>
            <option th:each="bed : ${reservation.listOfBeds}" th:value="${bed}" th:text="${bed}"></option>
            <option value=""> --</option>
        </select>
        <input type="submit" value="Rezerwuj"/>
    </form>
</div>

</body>
</html>